.clearItem {
    display: inline-block;
}

.floatItem {
    float: right;
}

#bg-img {
    height: 200px;
    background-image: url("./img/sky.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#dickson {
  
}

#fiona {

}

#bobby {
    
}

#katherine {

}
